@mixin fixed-ratio($height,$width){
  &::before{
    padding-bottom: ($height / $width) * 100%;
  }
}
[class^='ratio-']{
  width: 100%;
  overflow: hidden;
  position: relative;
  &::before,&::after{
    content: '';
  }
  &::before{
    display: block;
    float: left;
  }
  &::after{
    display: table;
    clear: both;
  }
  img.img-responsive{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}
.ratio-500-333 {
  @include fixed-ratio(333,500);
}
.ratio-1024-768 {
  @include fixed-ratio(768,1024);
}