h1, h2, h3, h4, h5, h6, .text-center-top, .left-tile-text {
  // font-family: 'Noto Sans', sans-serif;
}
*, *::before, *::after {
  box-sizing:  border-box !important;
}
@mixin fixed-ratio($height,$width){
  &::before{
    padding-bottom: ($height / $width) * 100%;
  }
}
@mixin abs-full(){
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
@mixin disable-a-hover(){
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
@mixin shadow(){
  -ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
h4 {
  font-weight: 600;
}
.container {
  // add responsive fixed-width column
  $widths: 100 200 300 400 500 600 700 800;
  $sm-screen-size: 768px;
  $md-screen-size: 992px;
  $lg-screen-size: 1200px;

  // init
  @mixin col-fixed-init(){
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @mixin make-fixed-cols($class){
    @each $w in $widths {
      .col-fixed-#{$class}-#{$w}{
        @include col-fixed-init;
        width: $w*1px;
        float: left;
      }
      .col-fixed-offset-#{$class}-#{$w}{
        @include col-fixed-init;
        margin-left: $w*1px;
      }
    }
  }
  @include make-fixed-cols('xs');
  @media(min-width: $sm-screen-size){
    @include make-fixed-cols('sm');
  }
  @media(min-width: $md-screen-size){
    @include make-fixed-cols('md');
  }
}
[class*='ratio-']{
  width: 100%;
  // overflow: hidden;
  position: relative;

  .background {
    @include abs-full;
    background-size: cover;
    background-position: 50% 50%;
  }
  &.background {
    background-size: cover;
    background-position: 50% 50%;
  }

  &::before,&::after{
    content: '';
  }
  &::before{
    display: block;
    float: left;
  }
  &::after{
    display: table;
    clear: both;
  }
  img.img-responsive, .wrapper{
    height: 100%;
    width: 100%;
  }
  >img.img-responsive, >.wrapper{
    @include abs-full;
  }
  >.wrapper {
    overflow: hidden;
  }

  .dark-infobar {
    @include abs-full;
    height: 32px;
    background-color: rgba(0,0,0,0.6);
    padding: 6px;
    color: #ffffff;
  }

  &.selectable{
    .check-mark{
      opacity: 0;
      position: absolute;
      bottom: 5px;
      left: 5px;
      color: white;
    }
    &.selected{
      .check-mark{
        opacity: 1;
      }
    }
  }

  &.overlay-animation{
    .background, &.background {
      -webkit-transition: transform 0.25s linear;
      -moz-transition: transform 0.25s linear;
      -o-transition: transform 0.25s linear;
      transition: transform 0.25s linear;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
    }
    span.overlay-frame {
      @include abs-full;
      background: rgba(0,0,0,0.4);
      opacity: 0;
      -webkit-transition: opacity 0.25s linear;
      -moz-transition: opacity 0.25s linear;
      -o-transition: opacity 0.25s linear;
      transition: opacity 0.25s linear;
    }
  }
  &:hover {
    &.overlay-animation {
      .background, &.background {
        //-webkit-transform: scale(1.1);
        //-moz-transform: scale(1.1);
        //transform: scale(1.1);
      }
      span.overlay-frame {
        opacity: 1;
      }
    }
  }
}
.img-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  &.shadow {
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -o-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  }
}
.ratio-500-333 {
  @include fixed-ratio(333,500);
}
.ratio-500-500 {
  @include fixed-ratio(500,500);
}
.ratio-1024-768 {
  @include fixed-ratio(768,1024);
}
.ratio-1920-850 {
  @include fixed-ratio(850,1920);
}
.latest-new {
  border: none;
  @include shadow;
  border-radius: 4px;
  overflow: hidden;

  h4 {
    font-size: 20px;
  }
}
.blog-date {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  @include shadow;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 32px;

  span.month {
    margin-top: 8px;
    margin-bottom: 2px;
    text-transform: uppercase;
  }
  span.date {
    font-size: inherit;
    color: #337AB7;
    font-weight: 200;
  }
}
.post-detail {
  .fa {
    font-size: 14px;
    color: #337ab7;
  }
  li {
    font-weight: 600;
  }
}
.blog-post{
  /*h2{
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }*/
  img {
    position: relative;
    display: block;
    margin: 0 auto 20px;
  }
  &.blog-profile {
    margin-bottom: 0;
    border-bottom: none;

    .blog-profile-wrapper {
      background-color: #fff;
      border-radius: 4px;
      overflow: hidden;
      @include shadow;

      > *:not(:first-child){
        margin-left: 15px;
        margin-right: 15px;
      }

      .thumbnail {
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }

      .post-detail {
        margin-top: 15px;
        border: none;
      }

      h2 {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }
}
[class*='mansory-']{
  -webkit-column-gap: 20px;
  column-gap: 20px;
  -webkit-column-fill: auto;
  column-fill: auto;
}
.mansory-{
  &2-col{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  &3-col{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  &child{
    display: inline-block;
    -webkit-column-break-inside:avoid;
    -moz-column-break-inside:avoid;
    -o-column-break-inside:avoid;
    -ms-column-break-inside:avoid;
    column-break-inside:avoid;

    width: 100%;
  }
}
.btn-gg-login {
  background-color: #C63D2D;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.btn-disabled {
  opacity: 0.4;
}
#adminPage{
  [class*='item-']{
    &.selected{
      background-color: #eeeeee;
    }
  }
  .item-image-text {
    padding-top: 10px;
  }
  .item-image {
    padding-top: 5px;
    padding-bottom: 5px;

    .dark-infobar{
      -webkit-transform: translateY(32px);
      transform: translateY(32px);
      -webkit-transition: -webkit-transform 0.25s ease-in;
      transition: transform 0.25s ease-in;
    }
    &:hover{
      .dark-infobar{
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }

  .text-with-rightline{
    position: relative;
    &::after{
      content: '';
      height: 1px;
      width: 200px;
      background-color: #BBBBBB;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
  .row{
    &.margin-reset-5 {
      margin-left: -5px;
      margin-right: -5px;
      >[class*='col-']{
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  .btn.btn-round{
    border-radius: 50% 50%;
  }
}
.sky-form {
  .skyform-box-style {
    padding: 6px 10px;
    outline: none;
    border-radius: 0;
    background: #ffffff;
    color: #404040;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 2px solid #e5e5e5;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    font: 15px/23px 'Open Sans', Helvetica, Arial, sans-serif;

    &:focus{
      border-color: #2da5da;
    }
  }

  .textarea-wysiwyg {
    display: block;

    @extend .skyform-box-style;
  }
  .btn-group:first-child{
    margin-left: 0;
  }
  .btn-group > .btn, .btn {
    @extend .skyform-box-style;
    &.btn-info {
      background: #eeeeee;
    }
    &:hover {
      border-color: #2da5da;
    }
  }
  .btn-group > .btn {
    &+.btn{
      margin-left: -2px;
    }
  }
  .btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  $fontSize: 15px;
  $lineHeight: 23px;
  $paddingVertical: 6px;
  $height: 39px;
  @mixin section($ratio){
    font-size: $fontSize*$ratio;
    line-height: $lineHeight*$ratio;
    padding-top: $paddingVertical*$ratio;
    padding-bottom: $paddingVertical*$ratio;
    height: $height*$ratio;
  }
  section.section-2x input {
    @include section(1.5);
  }
  section.section-3x input {
    @include section(2.25);
  }
  section.no-border input {
    border: none;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0;
    height: auto;
  }

  .file-chooser {
    position: relative;
    overflow: hidden;
    width: auto;

    input[type=file]{
      @include abs-full;
      margin: 0;
      padding: 0;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }

  .radio, .checkbox {
    i {
      width: 17px !important;
      height: 17px !important;
    }
  }
}
.text-core.text-core-skyform-style .text-wrap {
  $border-input-color: #e5e5e5;
  $border-input-thickness: 2px;
  $border-tag-color: #ccc;
  $tag-foreground-color: #959595;

  .text-label {
    vertical-align: middle;
    color: #888;
    font-weight: 600;
  }
  .text-tags {
    .text-tag {
      height: 100%;
      padding: 2px;

      .text-button {
        height: 100%;
        font: inherit;
        border: $border-input-thickness solid $border-tag-color;
        background: #eee;
        padding: 0 2em 0 1em;
      }

      a.text-remove {
        right: 0.5em;
        top: 0;
        width: 1em;
        height: 100%;
        background: none;
        color: #888;
        -webkit-transition: color 0.25s ease-in-out;
        -moz-transition: color 0.25s ease-in-out;
        -o-transition: color 0.25s ease-in-out;
        transition: color 0.25s ease-in-out;

        &ï¼šhover{
          color: #a94442;
        }
      }
    }
  }
  .text-dropdown {
    padding: 3px;
    border: $border-input-thickness solid $border-input-color;

    .text-list {
      .text-suggestion {
        padding: 0.5em 1em;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;

        .text-label {
          color: inherit;
        }

        &.text-selected{
          background: $tag-foreground-color;
        }
      }
    }
  }
  .text-position-below {
    margin-top: $border-input-thickness;
  }
}
@keyframes drag-end {
  from {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}
.drag-drop-animation {
  >* {
    -webkit-transition: all 0.125s ease-in;
    -moz-transition: all 0.125s ease-in;
    -o-transition: all 0.125s ease-in;
    transition: all 0.125s ease-in;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  &.is-dragging>*{
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
  &.is-dropped>*{
    -webkit-animation: drag-end 0.25s ease-out forwards;
    -moz-animation: drag-end 0.25s ease-out forwards;
    -o-animation: drag-end 0.25s ease-out forwards;
    animation: drag-end 0.25s ease-out forwards;
  }
}
.new-blog-author-detail {
  .avatar {
    -webkit-border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    border-radius: 50% 50%;
  }
  li>* {
    display: inline-block;
    line-height: 40px;
    color: #aaaaaa;
    font-size: 16px;
    vertical-align: bottom;
    text-transform: uppercase;
  }
}
.breadcrumb-wrap {
  background-image: none;
}
.mfp-dialog {
  $hiddenScale: 0.8;
  $shownScale: 1;

  &.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-out;
    -moz-transition: opacity 0.25s ease-out;
    -o-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;

    &.mfp-ready{
      opacity: 0.8;
    }
    &.mfp-removing {
      opacity: 0;
    }
  }

  .mfp-dialog-zoom-in {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .mfp-dialog-zoom-in {
    opacity: 0;
    -webkit-transform: scale($hiddenScale);
    -moz-transform: scale($hiddenScale);
    -o-transform: scale($hiddenScale);
    transform: scale($hiddenScale);
  }

  &.mfp-removing {
    .mfp-dialog-zoom-in {
      opacity: 0;
      -webkit-transform: scale($hiddenScale);
      -moz-transform: scale($hiddenScale);
      -o-transform: scale($hiddenScale);
      transform: scale($hiddenScale);
    }
  }
  &.mfp-ready {
    .mfp-dialog-zoom-in {
      opacity: 1;
      -webkit-transform: scale($shownScale);
      -moz-transform: scale($shownScale);
      -o-transform: scale($shownScale);
      transform: scale($shownScale);
    }
  }
}
.article-preview-page {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 800px;
  margin: 20px auto;
  
  .fix-padding-ltr-20 {
    margin-left: -20px;
    margin-top: -20px;
    margin-right: -20px;
    width: auto;
  }
}
.cover {
  padding: 70px 0;
  color: #ffffff !important;
  list-style: none;
  position: relative;

  h1, h2, h3, h4, h5, h6, p {
    color: inherit;
  }
  h1, h2, h3, h4 {
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: "Source Sans Pro", sans-serif;
  }

  .replace-image {
    cursor: pointer;

    &>*:first-child {
      -webkit-transition: all 0.125s ease-out;
      -moz-transition: all 0.125s ease-out;
      -o-transition: all 0.125s ease-out;
      transition: all 0.125s ease-out;
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%;

      opacity: 0.3;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }

    &:hover > *:first-child {
      opacity: 1;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  .replace-text {
    cursor: pointer;
    &>* {
      -webkit-transition: all 0.125s ease-out;
      -moz-transition: all 0.125s ease-out;
      -o-transition: all 0.125s ease-out;
      transition: all 0.125s ease-out;

      opacity: 0.3;
    }

    &:hover > * {
      opacity: 1;
    }
  }
  .replace-text-inline {
    @extend .replace-text;
    margin-left: 18px;

    a, a:hover {
      color: inherit;
    }
  }
}
.cover-ulibier-profile {
  .profile-item {
    +.profile-item {
      margin-top: 0.7em;
      margin-bottom: 0;

    }
    > .fa { width: 2em; }
  }
  p.profile { font-size: 18px; }
}
ul.profile-tabs {
  $tabs-height: 60px;

  text-align: center;
  margin-bottom: 0;
  height: $tabs-height;

  li {
    height: $tabs-height;
    line-height: $tabs-height;
    padding: 0 $tabs-height/4;
    cursor: pointer;

    a {
      color: #888;
      @include disable-a-hover;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }

    &.selected, &:hover {
      border-bottom: 2px solid #f00;
    }
    &.selected{
      a {
        font-weight: bold;
        color: #333;
      }
    }
  }
}
.panel.modern-panel {
  border: none;
  @include shadow;
  $colors: "info" #31708f, "danger" #a94442;
  $heading-border-thickness: 4px;

  //reset
  .panel-heading{
    background-color: transparent;
    border: none;
    padding: 15px;
  }
  .panel-title {
    font-size: 24px;
    font-weight: 400;
  }

  @each $c in $colors{
    $class: nth($c,1);
    $color: nth($c,2);
    &.panel-#{$class}>.panel-heading{
      color: $color;
      border-top: $heading-border-thickness solid $color;
    }
  }
}
.select-image-dialog, .edit-information-dialog {
  $tabHeight: 73px;

  position: relative;
  background: #ddd;
  width: auto;
  max-width: 800px;
  margin: 20px auto;

  @media screen and (min-width: 768px) {
    max-width: 600px;
  }
  @media screen and (min-width: 992px) {
    max-width: 800px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1000px;
  }
  @media screen and (min-height: 600px) {
    height: 500px;
  }

  .tabs-container {
    width: 100%;
    height: 100%;
  }
  .nav-tabs {
    border: none;
    border-bottom: 2px solid #ccc;
    background: white;
    padding: 15px;

    height: $tabHeight;
  }
  .tab-content {
    padding: 0;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: $tabHeight;
    >.tab-pane {
      position: relative;
      height: 100%;
    }
  }

  .selectable {
    .selectable-mark {
      position: absolute;
      right: 5px;
      bottom: 5px;
      opacity: 0;
    }

    &:hover, &.ui-selected {
      .selectable-mark { opacity: 1; }
    }
    &:hover {
      .selectable-mark { color: #BBB; }
    }
    &.ui-selected {
      .selectable-mark { color: #ffd658; }
    }
  }
}
.edit-information-dialog {
  $tabHeight: 80px;

  @media screen and (min-width: 1200px) {
    max-width: 60%;
  }

  .nav-tabs {
    height: $tabHeight;
  }
  .tab-content {
    top: $tabHeight;
    .tab-pane {
      padding-bottom: 60px;
      overflow-y: scroll;
    }
    .tab-content-footer {
      position: absolute;
      bottom: 0;
      height: 60px;
      background-color: #DDD;
      width: 100%;
      padding: 10px 30px;
    }
  }
}