$my-navbar-height: 70px;
$pi: 3.141592654;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic&subset=latin,vietnamese,latin-ext);
//@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500,700&subset=latin,vietnamese,latin-ext);
@font-face {
    font-family: 'UTM Caviar';
    font-style: normal;
    src: local('fonts/utm-caviar.ttf'), url('fonts/utm-caviar.ttf') format('truetype');
}

$title-font: 'UTM Caviar';

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
@mixin transition($transition...){
	$max: length($transition);
    $trans: '';

    @for $i from 1 through $max {
        $trans: #{$trans + nth($transition, $i)};

        @if $i < $max {
            $trans: #{$trans + ", "};
        }
    }
	-webkit-transition: #{$trans};
	-moz-transition:    #{$trans};
	-o-transition:      #{$trans};
}
@mixin transforms($trans) {
    transform: #{$trans};
    -webkit-transform: #{$trans};
    -moz-transform: #{$trans};
    -o-transform: #{$trans};
    -ms-transform: #{$trans};
}

.fill-abs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}