<div ng-init="getTrending()">
	<div class="item" bootstrap-col="12 4 4 4" ng-repeat="item in dataSource">
		<div class="border clearfix" ng-model="hover" ng-init="hover=0;" ng-switch on="hover" ng-mouseover="hover=1;" ng-mouseleave="hover=0;">
			<img ng-src="{{item.trending_article.first_related_destination.avatar}}" alt="" class="avatar">
			<div class="content fill-abs">
				<div class="animate-switch" ng-switch-when="1">
					<div class="animate-switch-inner">
						<div class="clearfix ulibier-info">
							<img ng-src="{{item.avatar_url}}" alt="ulibier avatar" class="ulibier-avatar pull-left">
							<h4 class="ulibier-name">
								<span>{{item.firstname}}</span> <span>{{item.lastname}}</span>
							</h4>
						</div>
						<div>
							<p>{{item.trending_article.article_title}}</p>
						</div>
					</div>
				</div>
				<div class="animate-switch" ng-switch-when="0">
					<div class="animate-switch-inner text-center">
						<div class="center-area">
							<img ng-src="{{item.avatar_url}}" alt="ulibier avatar" class="ulibier-avatar large">
							<h4>
								<span>{{item.firstname}}</span> <span>{{item.lastname}}</span>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>