.blog-page {
	&.breadcrumb-wrap {
		margin-top: $my-navbar-height;
	}

	.blog-post {
		padding-bottom: 30px;
		margin-bottom: 60px;
		border-bottom: 1px solid #e5e5e5;

		.item-img-wrap {
			position: relative;
			text-align: center;
			overflow: hidden;

			height: 180px;

			img {
				width: 100%;
				display: block;
				height: auto;
			}
		}
		h2, h3 {
			margin-top: 0.6em;
			margin-bottom: 0.6em;
			line-height: 2em;
			&.blog-title {
				font-family: $title-font;
				text-transform: capitalize;
			}
		}
		.blog-detail {
			margin-top: 25px;
		    margin-bottom: 0px;
		    border-top: 1px solid #ebeaea;
		    border-bottom: 1px solid #ebeaea;
		    margin-left: 0px;

		    li {
		    	font-size: 11px;
			    color: #777;
			    font-weight: 600;
			    vertical-align: middle;
			    text-transform: uppercase;

			    i { margin-right: 5px; }
		    }
		}
	}
}